
@{
    ViewData["Title"] = "Welcome";
}
<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Welcome to Khumalo Craft</h1>
    <p><img src="https://img.freepik.com/free-photo/carpenter-cutting-mdf-board-inside-workshop_23-2149451106.jpg?t=st=1717778262~exp=1717781862~hmac=f784f062092d6c6c7672a097c994056704c872fc8817cdffd4b6f8005b712515&w=1380"/></p>

</body>


