@model ProductDTO
@{
    Layout = "_AdminLayout";
}
<div style="width:50%">
    <h2> Update Product </h2>
    <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Back</a>
    <form asp-action="UpdateProduct" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Image" />

        <div class="my-2">
            <label>Product*</label>
            <input type="text" class="form-control" asp-for="ProductName" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>ProductDescription*</label>
            <input type="text" class="form-control" asp-for="ProductDescription" />
            <span asp-validation-for="ProductDescription" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>ProductType*</label>
            <select class="form-control" asp-for="ProductTypeId" asp-items="Model.ProductTypeList">
                <option value="">Select ProductType</option>
            </select>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Price*</label>
            <input type="number" class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="my-2">
            <label>Image</label>
            @if(!string.IsNullOrEmpty(Model.Image))
            {
                <img src="/images/@Model.Image" style="width:100px;height:80px"/>
            }
            <input type="file" class="form-control" asp-for="ImageFile" />
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-info">Update</button>
        </div>
    </form>
</div>
